body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

header {
  background: #ff4d6d;
  color: white;
  padding: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #ff4d6d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
